@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --color1: #fff;
    --color2: black;
    
    --title-font: 'Passion One', serif;
    --body-font:"Sriracha", sans-serif; 
    --font: Verdana, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    display: relative;
    text-align: center;
    background-color: var(--color2);
    color: var(--color1); 
    padding: 45px 10px 50px 10px;   
   
}

header h1{
   font-family: var(--title-font);
   font-size: 2.5em;
   
}

header p {
    font-family: var(--body-font);
    font-weight: lighter;
    font-size: 0.6em;
}

header a {
    color: var(--color1);
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

body {
    height: 96vh;
}

section {
  position: relative;

}

div {
    background-color: var(--color1);
    padding: 20px;
    text-align: left;
    margin-top: 70px;
    font-size: 0.9em;
    font-family: var(--font);
    font-weight: 520;
    font-style:italic;
    line-height: 35px;
}

p.edicao-paragrafo {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.571);
    height: 270px;
    width: 280px;
    padding: 10px;
    color: var(--color1);
    margin-left: 10px;
}

div#terceira {
    height: 600px;
}

div#especial-01 {
    background-image: url('imagens/background001.jpg');
    max-width: 1920px;
    max-height: 1280px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    height: 385px;
    font-size: 1em;
}

div#especial-02 {
    background-color: lightslategray;
    background-image: url('imagens/background002.jpg');
    max-width: 1920px;
    max-height: 1175px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  
    font-size: 0.9em;
}

footer {
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: var(--color1);
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}